/* App.css */

/* 기본 스타일 설정 */
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

/* 컨테이너 스타일 */
.container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* 버튼 스타일 */
.button {
  display: block;
  width: 80%;
  padding: 15px;
  margin: 10px 0;
  font-size: 18px;
  color: white;
  background-color: #4caf50;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button-intra {
  background-color: #ff9800;
}

.button-intra:hover {
  background-color: #e68900;
}

.button:hover {
  background-color: #45a045;
}

.button-danger {
  background-color: #f44336;
}

.button-danger:hover {
  background-color: #e6352f;
}

/* 누적시간 버튼 색상 변경 */
.button-total {
  background-color: #2196f3; /* 원하는 색상으로 변경 */
}

.button-total:hover {
  background-color: #1976d2; /* 호버 시 색상 */
}

.button-update {
  background-color: #104f9d;
}

.button-update:hover {
  background-color: #3a2f6d;
}
/* 원형 프로그래스바 스타일 */
.progress-container {
  width: 100%;
  margin: 20px 0;
}

.progress-bar {
  width: 80%;
  margin: 0 auto;
}

/* 입력 필드 스타일 */
.input {
  width: 80%;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  font-size: 16px;
}

/* 반응형 스타일 */
@media (max-width: 375px) {
  .container {
    padding: 10px;
  }

  .button {
    font-size: 16px;
  }

  .progress-bar {
    width: 100%;
  }
}

.edit-container {
  margin-top: 20px;
}

.input-time {
  width: 30%;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
  text-align: center;
}
